h1{
    text-align: center;
    color: green;
    background-color: rgb(113, 181, 184);
}
.container{
    background-color: transparent;
}
.card{
    background-color: rgb(247, 247, 185);
}
.body{
    background-image: url("/assets/137363.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}